<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link rel="shortcut icon" type="image/ico" href="/assets/images/logo5.ico">
		</head>
		<body>

			<div class="container">
				{% include header.html %}
				<div class="content">
					{{ content }}
				</div>
				<footer id="footer">
					<ul>
						<li><a href="mailto:info@timnederhoff.nl">email</a></li>
						<li><a href="https://github.com/timnederhoff">github.com/timnederhoff</a></li>
					</ul>
				</footer>
			</div><!-- /.container -->

		</body>
	</html>
