<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>

			<nav>
	    		<ul>
					<li><img src="/assets/images/tn-logo.svg" alt="" class="logo-menu"></li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
		        	<li><a href="/contributions">Community Contributions</a></li>
		        	<li><a href="/vision">Test Vision</a></li>
		        	<li><a href="/blog">Blog</a></li>
		        	<li><a href="/bookmarks">Bookmarks</a></li>
		        	<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:info@timnederhoff.nl">email</a></li>
	        		<li><a href="https://github.com/timnederhoff">github.com/timnederhoff</a></li>
				</ul>
			</footer>
		</body>
	</html>
